html {
    color-scheme: light dark;
    margin: auto;
    max-width: 1190px;
    font-family: Sans-serif
}

a {
    text-decoration: none
}

body {
    line-height: 1.6;
    font-size: 18px;
    margin: 10px 10px
}

h1,
h2,
h3 {
    line-height: 1.2
}

.content {
    margin-left: 300px;
    padding: 1px 10px;
    height: auto
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    height:100%;
    position: fixed;
    overflow: auto
}

.sidebar a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none
}

.sidebar a.active {
    background-color: #18cb70;
    color: #fff;
    border-radius: 10px
}

.sidebar a:hover:not(.active) {
    background-color: #79f29d;
    color: #000;
    border-radius: 10px
}
 .hidedesktop {
        display: none
    }

@media(prefers-color-scheme:dark) {
    html {
        background: #000;
        color: #c2c2c2
    }
    a:link {
        color: #8fd9f7
    }
    a:visited {
        color: #8fd9f7
    }
    a:active {
        color: #f7ef51
    }
}

.sidebar a {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0)
}

.sidebar a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s
}

.sidebar a:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s
}

.show-menu {
    background-color: #18cb70;
    color: #fff;
    padding: 10px 0;
    display: none;
    height: 10%
}

input[type=checkbox] {
    display: none
}

input[type=checkbox]:checked~#menu {
    display: block
}

.ripple {
    position: relative;
    border: none;
    transition-duration: .5s;
    text-decoration: none;
    overflow: hidden
}

.ripple:after {
    content: "";
    background: #90ee90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 35%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all .39s
}

.ripple:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

@media screen and (max-width:760px) {
    body {
        padding: 0;
        margin: 0
    }
    .sidebar {
        width: 100%;
        background-color: #18cb70;
        position: static;
        display: none
    }
    .show-menu {
        display: block
    }
    .sidebar a,
    .sidebar a:hover:not(.active) {
        margin-bottom: 1px;
        color: #000;
        border-radius: 0
    }
    .content {
        margin-left: 0;
        padding: 0 10px
    }
    .hidemobile {
        display: none
    }
    .hidedesktop {
        display: block
    }
}

pre {
    padding: .5em .5em .5em;
    background: #272822;
    color: #fff;
    overflow-x: auto
}

code {
    line-height: 1.4em;
    font-family: Monospace
}

aside,
ul {
    text-align: left
}

hr {
    display: block;
    margin: .5em auto;
    border-style: solid;
    border-width: 1px
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

figure {
    display: inline-block;
    text-align: center;
    margin: 5px
}

figcaption {
    text-align: center;
    font-size: .9em;
    font-weight: 700
}

iframe {
    max-width: 42em;
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
    justify-content: space-around;
    flex-direction: column
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow: column
}

blockquote {
    padding: .5em;
    padding-left: 1em
}

td,
th {
    padding: .5em
}
